# Entornos virtuales
venv/
env/

# Archivos de Jupyter
.ipynb_checkpoints

# Python
__pycache__/
*.pyc

# Datos brutos
data/raw/

# Resultados intermedios
data/processed/

# Sistema operativo
.DS_Store
Thumbs.db
